body{ 
  background-color:#dddddd;
  color : #000000;
  margin-right: auto; 
  margin-left : auto;
  width:700px;
  font-size:100%;
} 
div#wrapper {  
    width: 800px;  
    margin: 0 auto;  
    text-align: left;  
    border: 1px solid #FF0000; 
    background-color: #A9BCF5;
}  
